<p id="login" class="slbutton">&#9889; SecureLogin</p>
<p><a href="https://securelogin.pw/">Never used SecureLogin before?</a></p>
</p>
<script>
login.onclick = function () {
    SecureLogin(function(sltoken) {
        xhr('/login', {
            sltoken: sltoken,
        }, function(d) {
            if (d === 200) {
                location.reload();
            } else {
                console.log(d);
            }
        });
    });

    return false;
}
</script>
